div.container {
    background: url('../../../assets/technology/background-technology-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.mainContentContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.launchText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyTitle {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    line-height: 1;
}

.bodyTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 80%;
}

/* Buttons */

.bodyTextContainer p {
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    max-width: 270px;
    margin-top: 10px;
}

button {
    font-family: 'Barlow Condensed', sans -serif;
    font-size: 3vw;
    color: white;
    background-color: transparent;
    max-width: 50px;
    max-height: 50px;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 1px #545c85;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background-color: transparent;
}

.activeTab {
    background-color: white;
    color: black;
}

/* End of Buttons */

h5 {
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin-bottom: 1%;
}

.imgContainer {
    text-align: center;
    max-height: 35vh;
}

img {
    height: 100%;
    max-height: 335px;
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
    div.container {
        background: url('../../../assets/technology/background-technology-desktop.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
    }

    .innerContainer {
        height: 70vh;
        justify-content: flex-start;
    }

    .launchTextContainer {
        width: 50%;
    }

    .mainContentContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .launchText {
        all: unset;
        display: flex;
        width: 50%;
    }

    h3 {
        font-size:3vw;
        width: 30vw;
        text-align: left;
    }

    .bodyTextContainer {
        display: block;
        margin-left: 80px;
    }

    .bodyText {
        width: 30vw;
    }

    /* Buttons */

    .buttons {
        all: unset;
    }

    button {
        font-size: 20px;
        max-width: 85px;
        max-height: 85px;
        width: 6vw;
        height: 6vw;
        margin-bottom: 2vh;
    }

    /* End of Buttons */

    img {
        all: unset;
        max-height: 60vh;
        max-width: 60vh;
        height: 40vw;
        width:40vw;
        
    }
}