div.container {
    background: url('../../../assets/destination/background-destination-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    font-family: 'Barlow Condensed', sans -serif;
    font-size: 16px;
    color: #D0D6F9;
    padding: 0;
}

li {
    margin: 12px;
}

a {
    border-bottom: 3px solid transparent;
}

a:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(143, 143, 202)
}

.activeTab {
    border-bottom: 3px solid white;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
    font-size: 12vmin;
}


.planetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planetDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.planetImage {
    max-width: 445px;
    max-height: 445px;
    height: 20vh;
    width: 20vh;
}

.animate {
    animation: fadeIn 1.5s;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:100%;}
}

hr {
    width: 60%;
}

.distanceContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.avgDistance, .travelTime {
    font-family: 'Barlow Condensed', sans -serif;
    font-size: 4vmin;
    letter-spacing: 1.5px;
    color: #D0D6F9;
}

.travelTimeContainer {
    margin-left: 10px;
}

.avgDistanceText, .travelTimeText {
    font-family: 'Bellefair';
    font-size: 3vmin;    
}

/* For desktop: */
@media only screen and (min-width: 1200px) {

    div.container {
        background: url('../../../assets/destination/background-destination-desktop.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        overflow: auto;
    }

    .innerContainer {
        height: 70vh;
    }

    ul {
        font-family: 'Barlow Condensed', sans -serif;
        font-size: 16px;
        color: #D0D6F9;
    }


    .planetContainer {
        all:unset;
        display: flex;
        height: 60vh;
    }

    .planetDescription {
        padding-right: 10em;
        
    }

    .planetImage {
        padding-top: 80px;
        max-width: 445px;
        max-height: 445px;
        height: 40vw;
        width: 40vw;
    }

    .bodyText {
        width: 60%;
    }

    .avgDistance, .travelTime {        
        font-size: 1.3vw;
        letter-spacing: 2.35px;
    }

    .avgDistanceText, .travelTimeText {
        font-size: 1.5vw;    
    }
}