div.container {
    background: url('../../../assets/home/background-home-mobile.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}


.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10vh 0;
}

h5 {
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 3vmin;
    letter-spacing: 4.75px;
    margin-bottom: 1%;
}

h1 {
    font-size: 15vmin;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 0;
}

p {
    width: 80%;
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 3vw;
    letter-spacing: 1.2px;
    line-height: 1.2;
    margin-bottom: 5vh;
}

/* Explore Button */

button {
    font-family: 'Bellefair';
    border: solid;
    font-size: 4vw;
    border-color: rgba(0, 0, 0, 0.644);
    border-radius: 50%;
    border-width: 0;
    height: 50vmin;
    width: 50vmin;
    max-width: 200px;
    max-height: 200px;
    padding: 0;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {

    div.container {
        background: url('../../../assets/home/background-home-desktop.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: auto;
        height: 100vh;
        overflow:auto;
    }

    .elementContainer {
        flex-direction: row;
        justify-content: flex-start;
    }

    /* TEXT */
    .textContainer {
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin-left: 20%;
    }

    h5 {
        font-size: 2vmin;
    }

    h1 {
        margin-top: 1%;
        margin-bottom: 0;
    }

    .bodyText {
        width: 40%;
        font-size: 20px;
        line-height: 1.5;
    }

    /* Explore Button */
    .circleContainer {
        display: flex;
        margin-right: 10%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    button {
        font-family: 'Bellefair';
        font-size: 2vmax;
        height: 20vw;
        width: 20vw;
        max-width: 250px;
        max-height: 250px;
        padding: 0;
    }

    a {
        align-items: center;
        justify-content: center;
    }

    button:hover {
        background: url("../../../assets/destination/image-moon.png") no-repeat;
        background-size: 100%;
        color: white;
    }
}

/* Tablets */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    div.container {
        background: url('../../../assets/home/background-home-tablet.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: auto;
        height: 100vh;
        overflow:auto;
    }
}
