div.container {
    background: url('../../../assets/home/background-home-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 100vh;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

.elementContainer {
    display: flex;
}

/* TEXT */
.textContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    margin-left: 10%;
}

h5 {
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin-bottom: 1%;
}

h1 {
    font-family: 'Bellefair';
    font-size: 150px;
    color: white;
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 0;
}

p {
    width: 30%;
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 20px;
}

/* Explore Button */
.circleContainer {
    margin-top: auto;
    margin-right: 15%;
}

 button {
    font-family: 'Bellefair';
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    transition: .3s ease-in-out;
}

button:hover {
    border-color: #D0D6F9;
    border-width: 50px;
}

