
/* For desktop: */
@media only screen and (min-width: 768px) {
    
    .container {
        font-family: 'Barlow Condensed', sans -serif;
        font-size: 1vw;
        color: #ffffff;
        letter-spacing: 2.35px;
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: auto;
        background-color: #0b0d17a9;
    }

    li {
        list-style-type: none;
        margin: 0px 2em;
        padding: 35px 0;
    }

    li:hover {
        color: #15f4ee;
        border-bottom: 3px solid rgb(143, 143, 202);
        cursor: pointer;
        padding: 2% 0;
    }

    .blankSpan1 {
        width: 30vw;
    }

    .activeLink {
        border-bottom: 3px solid rgb(255, 255, 255);
        padding: 2% 0;
    }

    /* logo */

    .logoContainer {
        margin-left: 30px;
    }

}