<div class="container">
    <div class="logoContainer">
        <img src='../../../assets/shared/logo.svg'>

    </div>
    
    <div class="navContainer">
        <nav>
            <ul>
                <li routerLinkActive='activeLink' routerLink='home'>00 HOME</li>
                <li routerLinkActive='activeLink' routerLink='destination'>01 DESTINATION</li>
                <li routerLinkActive='activeLink' routerLink='crew'>02 CREW</li>
                <li routerLinkActive='activeLink' routerLink='technology'>03 TECHNOLOGY</li>
                <span class="blankSpan1"> </span>
            </ul>
            
        </nav>

    </div>

</div>
