<div class="navContainer">
    <input id="nav-toggle-id" type="checkbox" class="nav-toggle" [checked]="isChecked">
    <div class="logoContainer">
        <div class="logo">
            <img src='../../../assets/shared/logo.svg'>
        </div>

        <div class="dropDownMenu">
            <label for="nav-toggle-id">
                <img class="hamburger" src="../../../assets/shared/icon-hamburger.svg">
                <img class="close" src="../../../assets/shared/icon-close.svg">
            </label>
            
        </div>
        
    </div>

    <nav>
        <ul class="dropDownLinks">
            <li routerLinkActive='activeLink' routerLink='home' (click)='closeMenu()'>00 HOME</li>
            <li routerLinkActive='activeLink' routerLink='destination' (click)='closeMenu()'>01 DESTINATION</li>
            <li routerLinkActive='activeLink' routerLink='crew' (click)='closeMenu()'>02 CREW</li>
            <li routerLinkActive='activeLink' routerLink='technology' (click)='closeMenu()'>03 TECHNOLOGY</li>
        </ul>
        <ul class="regularLinks">
            <li routerLinkActive='activeLink' routerLink='home'>00 HOME</li>
            <li routerLinkActive='activeLink' routerLink='destination'>01 DESTINATION</li>
            <li routerLinkActive='activeLink' routerLink='crew'>02 CREW</li>
            <li routerLinkActive='activeLink' routerLink='technology'>03 TECHNOLOGY</li>
        </ul>
    </nav>

</div>
