*, *::before, *::after {
    box-sizing: border-box;
}

div.container {
    background: url('../../../assets/crew/background-crew-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 100vh;
    overflow:auto;
}

.innerContainer {
    margin-top: 20vmin;
    justify-content: center;
}

.crewContainer {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.crewDescription {
    text-align: center;
    align-items: center;
    justify-content: center;    
}

p.title {
    font-family: 'Barlow Condensed', sans -serif;
    color: white;
    letter-spacing: 2.2px;
    font-size: 22px;
    text-align: center;
}

span {
    color: #545c85;
}

h4 {
    font-family: 'Barlow Condensed';
    font-size: 3vh;
    color: rgb(192, 187, 187);
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    font-family: 'Bellefair';
    font-size: 30px;
    color: white;
    margin-top: 0;
}

.crewText {
    font-family: 'Barlow Condensed', sans -serif;
    color: #D0D6F9;
    font-size: 18px;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}

.imgContainer {
    height: 300px;
    width: 80%;
}

img {
    object-fit: contain;
    border-bottom: solid 1px grey;
    height: 100%;
    width: 100%;
}

.sliderButtonsContainer {
    align-items: center;
    justify-content: center;
}

.sliderButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 200px;
    padding-left: 0;
    margin: 5vh auto;
}

.sliderButtons a {
    width: 15px;
    height: 15px;
    background: rgb(192, 187, 187);
    border-radius: 50%;
}

.sliderButtons a:hover {
    background: white;
    cursor: pointer;
}

.activeTab {
    background: white !important;
}

.imgContainer2 {
    display: none;
}

/* For desktop: */
@media only screen and (min-width: 1200px) {

    div.container {
        background: url('../../../assets/crew/background-crew-desktop.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .imgContainer {
        display: none;
    }

    .innerContainer {
        margin: 30vh 0 0 10%;
    }

    .crewContainer {
        all: unset;
        display: flex;
        height: 60%;
    }

    .crewDescription {
        all: unset;
        margin-right: 22%;
    }

    p.title {
        font-size: 30px;
        text-align: left;
    }

    h4 {
        font-family: 'Barlow Condensed';
        all: unset;
        font-size: 30px;
        color: rgb(192, 187, 187);
        letter-spacing: 2px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 50px;
    }

    .crewText {
        font-family: 'Barlow Condensed', sans -serif;
        color: #D0D6F9;
        font-size: 20px;
        line-height: 1.5;
        min-height: 50%;
        max-width: 400px;
        margin-left: 0;
    }

    .imgContainer2 {
        all: unset;
    }

    img {
        all: unset;
        max-height: 590px;
        border-bottom: solid 1px grey;
        margin-top: -5%;
    }

    .sliderButtonsContainer {
        display: flex;
        justify-content: flex-start;
    }

    .sliderButtons {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 200px;
        padding-left: 0;
        margin: 0;
    }

    .sliderButtons a {
        width: 15px;
        height: 15px;
        background: rgb(192, 187, 187);
        border-radius: 50%
    }

    .sliderButtons a:hover {
        background: white;
        cursor: pointer;
    }

    .activeTab {
        background: white !important;
    }
}