div.container {
    background: url('../../../assets/crew/background-crew-desktop.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow:auto;
}

.crewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crewDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;    
}

h4 {
    font-family: 'Barlow Condensed';
    font-size: 3vh;
    color: rgb(192, 187, 187);
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

.imgContainer {
    max-height: 30vh;
    text-align: center;
}

img {
    border-bottom: solid 1px grey;
    height: 100%;
    max-height: 290px;
}

.sliderButtonsContainer {
    align-items: center;
    justify-content: center;
}

.sliderButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 200px;
    padding-left: 0;
    margin: 5vh auto;
}

.sliderButtons a {
    width: 15px;
    height: 15px;
    background: rgb(192, 187, 187);
    border-radius: 50%;
}

.sliderButtons a:hover {
    background: white;
    cursor: pointer;
}

.activeTab {
    background: white !important;
}

.imgContainer2 {
    display: none;
}

/* For desktop: */
@media only screen and (min-width: 1200px) {

    div.container {
        background: url('../../../assets/crew/background-crew-desktop.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .imgContainer {
        display: none;
    }

    .crewContainer {
        all: unset;
        display: flex;
        height: 60%;
    }

    .crewDescription {
        all: unset;
        margin-right: 22%;
    }

    h4 {
        font-family: 'Barlow Condensed';
        all: unset;
        font-size: 30px;
        color: rgb(192, 187, 187);
        letter-spacing: 2px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 50px;
    }

    .bodyText {        
        min-height: 50%;
        max-width: 400px;
        margin-left: 0;
    }

    .imgContainer2 {
        all: unset;
    }

    img {
        all: unset;
        max-height: 590px;
        border-bottom: solid 1px grey;
        margin-top: -5%;
    }

    .sliderButtonsContainer {
        display: flex;
        justify-content: flex-start;
    }

    .sliderButtons {
        margin: 0;
    }
}