/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url("https://use.typekit.net/eay3jzz.css%22");


html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

h1 {
    font-family: superior-title, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h2 {
    font-family: superior-title, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white
}

p.title { // Title of the header text (e.g. 01 Pick Your Destination)
    font-family: 'Barlow Condensed', sans -serif;
    color: white;
    letter-spacing: 2.2px;
    font-size: 22px;
    text-align: center;
}

p.title span { // Number for p.title
    color: #545c85;
}

.innerContainer { // The main content div that holds image/text
    margin-top: 20vmin;
    justify-content: center;
}

.bodyTitle { //e.g. Crew name / tech name
    font-family: superior-title, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    margin-top: 0;
}

.bodyText { // Main paragraph text
    font-family: 'Barlow Condensed', sans -serif;
    width: 80%;
    color: #D0D6F9;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}


/* For Desktop */
@media only screen and (min-width: 1200px) {
    .innerContainer { // The main content div that holds image/text
        margin: 30vh 0 0 10%;
    }

    .bodyText { // Main paragraph text
        text-align: left;
        font-size: 20px;
    }

    p.title { // Title of the header text (e.g. 01 Pick Your Destination)
        text-align: left;
        font-size: 30px;
    }
}